<div class="custom-modal">
      <div class="custom-modal-content">

          <!-- Header -->
          <div class="custom-modal-head">
            <span class="custom-modal-close">×</span>
            <h3>Lưu Dashboard</h3>
          </div>

          <!-- Main -->
          <div class="custom-modal-main">
            Nhập tên:
            <input class='name' />
            Đường Link:
            <input class='url' />
            Menu cha:
            <input />

          </div>
          <div>
            <button type="button" id="btn-darken" class="modalActivate" >Lưu</button>
          </div>


      </div>
  </div>
