
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<!--<li class="nav-item pcoded-menu-caption">
						<label>MENU</label>
					</li>-->
					<li class="nav-item">
					    <a href="/" class="nav-link {% if 'index' in segment %} active {% endif %}">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">
									Trang Chủ</span></a>
					</li>
					<!--
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Xem Theo</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/layout-vertical.html" target="_blank">Dọc</a></li>
					        <li><a href="/layout-horizontal.html" target="_blank">Ngang</a></li>
					    </ul>
					</li>-->
						<!--<li class="nav-item pcoded-menu-caption">
						<label>KPI</label>
					</li>-->
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">BRCD</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/test.html">BRCD_HCOMBO_PTM_TH</a></li>
							<li><a href="/test.html">BRCD_HOMETV_PTM_TH</a></li>
							<li><a href="/test.html">BRCD_HUY</a></li>
							<li><a href="/bc_tabs.html">BRCD_PTM_TH</a></li>
							<li><a href="/bc_tabs.html">BRCD_PTM_TH_202011_luu</a></li>
							<!--<li><a href="/test.html">6</a></li>
							<li><a href="/test.html">7</a></li>
							<li><a href="/test.html">8</a></li>
							<li><a href="/test.html">9</a></li>
							<li><a href="/test.html">10</a></li>
							<li><a href="/test.html">11</a></li>
							<li><a href="/bc_tabs.html">12</a></li>
							<li><a href="/test.html">13</a></li>
							<li><a href="/test.html">14</a></li>
							<li><a href="/test.html">15</a></li>
							<li><a href="/test.html">16</a></li>-->
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">KPI</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/test.html">KPI</a></li>
							<li><a href="/test.html">KPI_bak</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Thiết kế Dashboard</span></a>
						<ul class="pcoded-submenu">
							<li><a href="{% url 'tests' %}">tests</a></li> 
						</ul>
					</li>
					<!--<li class="nav-item pcoded-menu-caption">
					    <label>Forms &amp; table</label>
					</li>-->
					<!-- chu thich 1 bat dau o day
					<li class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Forms</span></a>
					</li>
					<li class="nav-item {% if 'tbl_bootstrap' in segment %} active {% endif %}">
					    <a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Bootstrap table</span></a>
					</li>
					ket thuc 1 o day -->
					<!--<li class="nav-item pcoded-menu-caption">
						<label>Chart & Maps</label>
					</li>-->
					<!-- bat dau 2 o day
					<li class="nav-item {% if 'chart-apex' in segment %} active {% endif %}">
					    <a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item {% if 'map-google' in segment %} active {% endif %}">
					    <a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
					</li>
					ket thuc 2 o day -->
					<!--<li class="nav-item pcoded-menu-caption">
						<label>Pages</label>
					</li>-->
					<!-- bat dau 3 o day
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/auth-signup.html" target="_blank">Sign up</a></li>
					        <li><a href="/auth-signin.html" target="_blank">Sign in</a></li>
					    </ul>
					</li>
					<li class="nav-item {% if 'sample-page' in segment %} active {% endif %}">
						<a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>

				</ul>
				ket thu 3 o day -->
				<!--<div class="card text-center">
					<div class="card-block">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="feather icon-sunset f-40"></i>
                        <br />
						<p>Need more? Go PRO!</p>
                        <a href="https://appseed.us/admin-dashboards/django-dashboard-gradient-pro" target="_blank"
                           class="btn btn-primary btn-sm text-white m-0">Gradient PRO</a>
					</div>
				</div>-->

			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
