<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
        <button class="btn btn-secondary text-dark mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-plus mr-2"></span>Tạo mới
        </button>
        <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
            <a class="dropdown-item font-weight-bold" href="{% url 'new_page' %}"><span class="far fa-file-alt mr-2"></span>Trang dashboard</a>
            <a class="dropdown-item font-weight-bold" href="#"><span class="far fa-comment-dots mr-2"></span>Message</a>
            <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-box-open mr-2"></span>Product</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-danger mr-2"></span>Subscription Plan</a>
        </div>
    </div> 
        <button type="button" id="btn-darken" class="modalActivate" >Lưu</button>
</div>
