{% extends "layouts/base.html" %}
{% load static %}
{% block title %} {{ dashboard.title }} {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			{% include 'includes/tag_bar.html' %}
      {% include 'includes/popup_savepage.html' %}

      {{ dashboard.body }}
      
		</div>
	</div>

{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
