{% extends "layouts/base.html" %}

{% block title %} TEST {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ Main Content ] start -->
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
				<div>
						<button class="btn btn-secondary text-dark mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#0000FF; margin: 10px 0 0 10px ;background-color: Gold">
								<span class="fas fa-plus mr-2"></span>Tạo Mới

						</button>
						<div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
								<a class="dropdown-item font-weight-bold" href="#"><span class="far fa-file-alt mr-2"></span>Trang Mới</a>
								<a class="dropdown-item font-weight-bold" href="#"><span class="far fa-comment-dots mr-2"></span>Tạo Card mới</a>
								<a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-box-open mr-2"></span>Product</a>
						</div>
				</div>
		</div>
		<!-- [ Main Content ] end -->
	</div>
<!-- [ Main Content ] end -->
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
